

/* ==========================================================================
   Author's 
   arturo ramses gonzales
   andreo tadeo ojeda rojas
   corona alonso jesus giovanny
   ========================================================================== */


body{
    margin: 0;
    padding: 0;
    background-color:  #f5f5f5;
    font-size: 1.4em;
    line-height:1.6em;
}
body > section{
    clear: both;
    padding: 30px 0;
}
   .navbar-default{
   	background: #2BA0DD;
    text-decoration-color: #ffffff;
   }
   a{
    color: #ffffff;
    text-transform: uppercase;
   }
   .forsale{
    margin-left: 10%;
    position: absolute;
    margin: 0 auto; 
   }
   .forsale h4{
    text-transform: uppercase;
   }
#particles-js{
  background-color: #fff;
  
}



   section#Home{
    
    padding-top: 0px;
}

/*quienes somos*/
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(41, 137, 180, 0.16), 0 2px 10px 0 rgba(41, 137, 180,  0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
}
.box-icon {
    background-color: transparent;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
     color: black;
    text-shadow: 0px 7px 8px black;
    -webkit-text-shadow: 0px 7px 8px black;
    -moz-text-shadow: 0px 7px 8px black;
    padding: 15px;
}
.info h1 {
 color: #FE4F23;  

}
.info h2 {
   line-height: 50px;
  
}
.info > p {
font-size: 2.1em;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    color: black;
     
    -webkit-text-shadow: 0px 7px 8px black;
    -moz-text-shadow: 0px 7px 8px black;
    padding: 20px;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

/*MISION VISION Y VALORES*/
section#our-fasnet h2{
	color:  #1360BC;
	padding-bottom: 20px;
}
  	.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid #FE4F23;
    margin-left: 35px;
    transition: .3s;
}
.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}
.our-services-text {
    padding-right: 10px;
}
.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #1360BC;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}
/*SERVICIOS*/
.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 30%;
}

/*CONACT*/
#contact{
    background:#1360BC;
    color:#ffa500;
    padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}
section#Contact form{
    margin-top: 25px;
}
section#Contacto input{
    min-height: 50px;
    margin-bottom: 20px;
}
section#Contact textarea{
    min-height: 100px;
}

section#Contact .botn.btn-default{
    background: white;
    border-radius: 14px;
    padding:5px 14px;
    font-size: 1.4em;
    text-transform: uppercase;
}
::-webkit-input-placeholder{
    color: #ffffff!important;
}
::-moz-placeholder{
    color: #ffffff!important;
}
::-moz-placeholder{
    color: #ffffff!important;
}
::-ms-input-placeholder{
    color: #ffffff!important;
}

  
/* ==========================================================================
  html.LOGIN
   arturo ramses gonzales
   andreo tadeo ojeda rojas
   corona alonso jesus giovanny
   ========================================================================== */
  .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
  }
  .btn:focus
  {
   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
  }
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg');
    background-repeat:repeat;
  }
  .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
      margin-top:50px;
  }
  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
  }
  .form-signin-heading {
    color: #1360BC;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }
  .registro{
    padding: 20s;
    color: #000;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }
